.serie {
    width: 80%;
    height: 900px;
    padding: 10px;
    margin: 25px auto;
    border: 1px solid rgb(65, 161, 145);
    border-radius: 20px;
    background-image: url(./S.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
p {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(238, 230, 234);
    font-size: 26px;
}
span {
    font-weight: 400;
    color: rgb(86, 165, 189);
}
img{
    display:block;
    margin:auto;
}
